<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Golems</string>
	<key>CFBundleVersion</key>
	<string>0.54.4</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>BLSS</string>
	<key>CFBundleShortVersionString</key>
	<string>Golems</string>
	<key>CFBundleSignature</key>
	<string>BLSS</string>
	<key>CFBundleGetInfoString</key>
	<string>Golems Universal Constructor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>golems.icns</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mchn</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>golems.icns</string>
			<key>CFBundleTypeName</key>
			<string>Machine</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
	</array>
	<key>Java</key>
	<dict>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/Contents/Resources/Java</string>
		<key>MainClass</key>
		<string>com.golemgame.launch.Launcher</string>
		<key>VMOptions</key>
		<string>-Xmx256m -XX:MaxDirectMemorySize=128m</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>ClassPath</key>
		<array>
			<string>$JAVAROOT/lib/mvc.jar</string>
			<string>$JAVAROOT/lib/mvc_validate.jar</string>
			<string>$JAVAROOT/lib/mvc_golems.jar</string>
			<string>$JAVAROOT/opensource.jar</string>
			<string>$JAVAROOT/golems.jar</string>
			<string>$JAVAROOT/settings.jar</string>
			<string>$JAVAROOT/launcher.jar</string>
		</array>
	</dict>
</dict>
</plist>
